.homePage {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.flex {
  display: flex;
  padding: 2rem 0 0 0;
  height: 90%;
  justify-content: space-between;
}

.browseButtonContainer {
  margin-top: 2rem;
  text-align: end;
}
.browseButtonContainer > button {
  width: 8rem;
  height: 2rem;
  border-radius: 100px;
  background-color: #148a08;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}
